#AI Assignment 1

In [ ]:
import numpy as np
import pandas as pd

##Task - 1 
Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
d1=pd.Series(np.random.rand(4))
d2=pd.Series(np.random.rand(4))
d3=pd.Series(np.random.rand(4))
d4=pd.Series(np.random.rand(4))
print(d1,d2,d3,d4)

0    0.849786
1    0.189042
2    0.093414
3    0.379408
dtype: float64 0    0.227717
1    0.256397
2    0.796197
3    0.943525
dtype: float64 0    0.562311
1    0.501309
2    0.142081
3    0.264109
dtype: float64 0    0.679117
1    0.463681
2    0.235499
3    0.411500
dtype: float64

In [ ]:
df=pd.DataFrame([d1,d2,d3,d4])
print(df)

          0         1         2         3
0  0.849786  0.189042  0.093414  0.379408
1  0.227717  0.256397  0.796197  0.943525
2  0.562311  0.501309  0.142081  0.264109
3  0.679117  0.463681  0.235499  0.411500

##Task - 2 
Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df.columns=['Random Value 1','Random Value 2','Random Value 3','Random Value 4']
print(df)

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.849786        0.189042        0.093414        0.379408
1        0.227717        0.256397        0.796197        0.943525
2        0.562311        0.501309        0.142081        0.264109
3        0.679117        0.463681        0.235499        0.411500

##Task - 3
Find the descriptive statistics of the 'df' dataframe.

In [ ]:
df.describe()

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.579733        0.352607        0.316798        0.499636
std          0.262694        0.153253        0.324992        0.302618
min          0.227717        0.189042        0.093414        0.264109
25%          0.478663        0.239558        0.129914        0.350583
50%          0.620714        0.360039        0.188790        0.395454
75%          0.721784        0.473088        0.375674        0.544507
max          0.849786        0.501309        0.796197        0.943525

In [ ]:
df.describe(include='all')

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.579733        0.352607        0.316798        0.499636
std          0.262694        0.153253        0.324992        0.302618
min          0.227717        0.189042        0.093414        0.264109
25%          0.478663        0.239558        0.129914        0.350583
50%          0.620714        0.360039        0.188790        0.395454
75%          0.721784        0.473088        0.375674        0.544507
max          0.849786        0.501309        0.796197        0.943525

##Task - 4 
Check for the null values in 'df' and find the data type of the columns.

In [ ]:
df.isnull()

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
df.info()            #Check for the null values in 'df' and find the data type of the columns.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random Value 1  4 non-null      float64
 1   Random Value 2  4 non-null      float64
 2   Random Value 3  4 non-null      float64
 3   Random Value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [ ]:
df['Random Value 1'].dtype

dtype('float64')

In [ ]:
df['Random Value 2'].dtype

dtype('float64')

In [ ]:
df['Random Value 3'].dtype

dtype('float64')

In [ ]:
df['Random Value 4'].dtype

dtype('float64')

##Task - 5
 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
df.loc[0:,'Random Value 2':'Random Value 3']

   Random Value 2  Random Value 3
0        0.189042        0.093414
1        0.256397        0.796197
2        0.501309        0.142081
3        0.463681        0.235499

In [ ]:
df.iloc[0:,1:3]

   Random Value 2  Random Value 3
0        0.189042        0.093414
1        0.256397        0.796197
2        0.501309        0.142081
3        0.463681        0.235499

#Thank You